{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'student_list' %}">Student List!</a></li>
                    <li><a href="{% url 'register' %}">Registe!r</a></li>  
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout!!</a></li>  
                    {% else %}
                        <li><a href="{% url 'login' %}">Loginnn!</a></li> 
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
